<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="xwang.cordova.vcloud.livestreaming" version="0.0.1">
  <name>VCloud Live Streaming</name>
  <description>A cordova plugin, a JS version of VCloud Live Streaming SDK</description>
  <license>MIT</license>
  <keywords>cordova,vcloud,live streaming,video</keywords>
  <repo>https://github.com/hkizuna/cordova-plugin-vcloud-livestreaming.git</repo>
  <issue>https://github.com/hkizuna/cordova-plugin-vcloud-livestreaming/issues</issue>
  <!-- required cordova version -->
  <engines>
    <engine name="cordova" version=">=3.9.2" />
  </engines>
  <!-- js module -->
  <js-module src="www/livestreaming.js" name="LiveStreaming">
    <clobbers target="LiveStreaming" />
  </js-module>
  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="LiveStreaming">
        <param name="ios-package" value="CDVLiveStreaming" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <!-- plugin source code -->
    <header-file src="src/ios/CDVLiveStreaming.h" />
    <source-file src="src/ios/CDVLiveStreaming.m" />
    <header-file src="src/ios/LiveStreamingViewController.h" />
    <source-file src="src/ios/LiveStreamingViewController.m" />
    <source-file src="src/ios/UIView+Toast.h" />
    <source-file src="src/ios/UIView+Toast.m" />

    <!-- Live Streaming -->
    <header-file src="src/ios/libs/LSMediaCapture.h" />
    <header-file src="src/ios/libs/nMediaLiveStreamingDefs.h" />
<!--     <source-file src="src/ios/libs/libLSMediaCapture.a" framework="true" />
    <source-file src="src/ios/libs/libavdevice.a" framework="true" />
    <source-file src="src/ios/libs/libavfilter.a" framework="true" />
    <source-file src="src/ios/libs/libyuv.a" framework="true" /> -->
    <source-file src="src/ios/libs/libLSMediaCapture.a" framework="true" />
    <source-file src="src/ios/libs/libavcodec.a" framework="true" />
    <source-file src="src/ios/libs/libavdevice.a" framework="true" />
    <source-file src="src/ios/libs/libavfilter.a" framework="true" />
    <source-file src="src/ios/libs/libavformat.a" framework="true" />
    <source-file src="src/ios/libs/libavresample.a" framework="true" />
    <source-file src="src/ios/libs/libavutil.a" framework="true" />
    <source-file src="src/ios/libs/libcrypto.a" framework="true" />
    <source-file src="src/ios/libs/libfdk-aac.a" framework="true" />
    <source-file src="src/ios/libs/libopenh264.a" framework="true" />
    <source-file src="src/ios/libs/librtmp.a" framework="true" />
    <source-file src="src/ios/libs/libspeex.a" framework="true" />
    <source-file src="src/ios/libs/libssl.a" framework="true" />
    <source-file src="src/ios/libs/libswresample.a" framework="true" />
    <source-file src="src/ios/libs/libswscale.a" framework="true" />
    <source-file src="src/ios/libs/libyuv.a" framework="true" />

    <resource-file src="src/ios/res/CDVLiveStreaming.bundle" />

    <!-- other required frameworks -->
    <framework src="libz.1.tbd" />
    <framework src="libbz2.tbd" />
    <framework src="libiconv.tbd" />
    <framework src="libstdc++.tbd" />
    <framework src="AudioToolBox.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="CFNetwork.framework" />
    <framework src="CoreAudio.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="CoreVideo.framework" />
    <framework src="Foundation.framework" />
    <framework src="OpenGLES.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="UIKit.framework" />
    <framework src="VideoToolBox.framework" />
  </platform>

  <!-- android -->
  <platform name="android">
    <hook type="after_plugin_install" src="scripts/androidInstall.js" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="LiveStreaming">
        <param name="android-package" value="xwang.cordova.vcloud.livestreaming.LiveStreaming"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <!-- 允许挂载和反挂载文件系统 -->
      <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
      <!-- 允许程序创建显示在其他程序之上，并且类型为TYPE_SYSTEM_ALERT的窗体 -->
      <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
      <!-- 允许程序向外部存储设备写数据 -->
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <!-- 允许程序打开网络套接字 -->
      <uses-permission android:name="android.permission.INTERNET" />
      <!-- 允许程序获取网络相关信息 -->
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <!-- 允许程序写音频数据 -->
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <!-- 允许程序使用PowerManager WakeLocks以防止处理器休眠或者屏幕锁屏 -->
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <!-- 允许程序获取Wifi网络状态信息 -->
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <!-- 允许程序使用设备的camera -->
      <uses-permission android:name="android.permission.CAMERA" />
      <!-- 允许程序使用闪光灯 -->
      <uses-permission android:name="android.permission.FLASHLIGHT" />
      <!-- 允许程序获得设备信息 -->
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <!-- 配置一个程序用于调试 -->
      <uses-permission android:name="android.permission.SET_DEBUG_APP" />
      <!-- 声明程序使用camera和自动对焦功能 -->
      <uses-feature android:name="android.hardware.camera"/>
      <uses-feature android:name="android.hardware.camera.autofocus"/>
      <!-- 声明程序使用OpenGL ES 2.0 -->
      <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="xwang.cordova.vcloud.livestreaming.LiveStreamingActivity" android:label="@string/app_name" android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden|screenSize" android:windowSoftInputMode="adjustResize" />
      <!-- 声明网络信息查询服务 -->
      <service android:name="com.netease.livestreamingcapture.NetInfoService"/>
      <!-- 声明直播异常报警服务 -->
      <service android:name="com.netease.livestreamingcapture.AlertService"/>
      <receiver android:name="com.netease.pushservice.receiver.PushServiceBootReceiver" >
        <intent-filter>
          <action android:name="android.intent.action.ACTION_BATTERY_CHANGED" />
        </intent-filter>
      </receiver>
    </config-file>

    <source-file src="src/android/LiveStreaming.java" target-dir="src/xwang/cordova/vcloud/livestreaming" />
    <source-file src="src/android/LiveStreamingActivity.java" target-dir="src/xwang/cordova/vcloud/livestreaming" />
    <source-file src="src/android/libs/Livestreaming.jar" target-dir="libs" />
    <source-file src="src/android/libs/arm64-v8a/liblivestreaming.so" target-dir="libs/arm64-v8a" />
    <source-file src="src/android/libs/armeabi/liblivestreaming.so" target-dir="libs/armeabi" />
    <source-file src="src/android/libs/armeabi-v7a/liblivestreaming.so" target-dir="libs/armeabi-v7a" />
    <source-file src="src/android/libs/x86/liblivestreaming.so" target-dir="libs/x86" />
    <source-file src="src/android/res/layout/activity_livestreaming.xml" target-dir="res/layout" />
    <source-file src="src/android/res/drawable-hdpi/bolt.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-hdpi/pause.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-hdpi/play.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-hdpi/reverse_camera.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-hdpi/navicon.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-hdpi/avatar.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-hdpi/list_.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-hdpi/mic_off.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-hdpi/mic_on.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-hdpi/snapshot_.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-hdpi/blow_level_progress.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-hdpi/blow_level_track.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-mdpi/bolt.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-mdpi/pause.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-mdpi/play.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-mdpi/reverse_camera.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-mdpi/navicon.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-mdpi/avatar.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-mdpi/list_.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-mdpi/mic_off.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-mdpi/mic_on.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-mdpi/snapshot_.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-mdpi/blow_level_progress.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-mdpi/blow_level_track.png" target-dir="res/drawable-mdpi" />

    <source-file src="src/android/res/drawable-xhdpi/bolt.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/pause.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/play.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/reverse_camera.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/navicon.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/avatar.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/list_.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/mic_off.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/mic_on.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/snapshot_.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/blow_level_progress.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/blow_level_track.png" target-dir="res/drawable-xhdpi" />

    <source-file src="src/android/res/drawable-xxhdpi/bolt.png" target-dir="res/drawable-xxhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/pause.png" target-dir="res/drawable-xxhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/play.png" target-dir="res/drawable-xxhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/reverse_camera.png" target-dir="res/drawable-xxhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/navicon.png" target-dir="res/drawable-xxhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/avatar.png" target-dir="res/drawable-xxhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/list_.png" target-dir="res/drawable-xxhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/mic_off.png" target-dir="res/drawable-xxhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/mic_on.png" target-dir="res/drawable-xxhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/snapshot_.png" target-dir="res/drawable-xxhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/blow_level_progress.png" target-dir="res/drawable-xxhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/blow_level_track.png" target-dir="res/drawable-xxhdpi" />

    <source-file src="src/android/res/drawable-xxxhdpi/bolt.png" target-dir="res/drawable-xxxhdpi" />
    <source-file src="src/android/res/drawable-xxxhdpi/pause.png" target-dir="res/drawable-xxxhdpi" />
    <source-file src="src/android/res/drawable-xxxhdpi/play.png" target-dir="res/drawable-xxxhdpi" />
    <source-file src="src/android/res/drawable-xxxhdpi/reverse_camera.png" target-dir="res/drawable-xxxhdpi" />
    <source-file src="src/android/res/drawable-xxxhdpi/navicon.png" target-dir="res/drawable-xxxhdpi" />
    <source-file src="src/android/res/drawable-xxxhdpi/avatar.png" target-dir="res/drawable-xxxhdpi" />
    <source-file src="src/android/res/drawable-xxxhdpi/list_.png" target-dir="res/drawable-xxxhdpi" />
    <source-file src="src/android/res/drawable-xxxhdpi/mic_off.png" target-dir="res/drawable-xxxhdpi" />
    <source-file src="src/android/res/drawable-xxxhdpi/mic_on.png" target-dir="res/drawable-xxxhdpi" />
    <source-file src="src/android/res/drawable-xxxhdpi/snapshot_.png" target-dir="res/drawable-xxxhdpi" />
    <source-file src="src/android/res/drawable-xxxhdpi/blow_level_progress.png" target-dir="res/drawable-xxxhdpi" />
    <source-file src="src/android/res/drawable-xxxhdpi/blow_level_track.png" target-dir="res/drawable-xxxhdpi" />
  </platform>
</plugin>
